{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some</title>
    <link rel="stylesheet" href="{% static 'AutoGener/css/bootstrap.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<style>
  .dishBlock{
    display:block;
    padding-left:25%;
    padding-top:3%;
    padding-right:25%;
  }
</style>

<script>
  $(document).ready(function(){
    $("#closeButton").click(function(){
      $("#alertBlock").remove();
    });
  });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'AutoGener:index' %}">排排菜</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'AutoGener:index' %}">首页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'AutoGener:schedule' %}">安排</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'AutoGener:ingredient' %}">食材</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'AutoGener:dish' %}">菜单</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


  {% block main %}

  {% endblock %}
</div>
</body>
</html>
