{% extends 'AutoGener/base.html' %}


{% block main %}
<div>
<form action="/dish/" method="post">
  <fieldset>
    <legend>添加我会做的菜</legend>
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputPassword1">菜名</label>
      {{ form.name }}
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">食材</label>
      <form role="search" method="get" id="searchform" action="">
        <input type="text" name="dish_ingredient" placeholder="食材，用逗号隔开">
      </form>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">种类</label>
      {{ form.type }}
    </div>
    <a class="btn btn-primary" target="_blank" href="{% url 'AutoGener:ingredient' %}" >前往添加食材</a>
    <button type="submit" class="btn btn-primary">添加菜品</button>
  </fieldset>
</form>
</div>
<br>
<br>
<div id="alertBlock">
  {% if message %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert" id="closeButton">&times;</button>
    <strong>{{ message }}</strong>
  </div>
  {% endif %}
</div>

<div >
  <div>
  <h2>我会做的菜</h2>
      <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'AutoGener:dish' %}">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="dish_wanted">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  <br>
  {% for dish in canDolist %}
    <p> <a href="{% url 'AutoGener:dish_detail' dish.name%}">{{ dish.name }}</a>
    <a class="close" href="{% url 'AutoGener:dish_delete' dish.name %}" >&times;</a>
    </p>
    <!--需要加上食材+克数=最终卡路里-->
  {% empty %}
    <div><p>还没有会做的菜哦！</p></div>
  {% endfor %}
    </div>
</div>


{% endblock %}


{% block side %}

  <h3>{{ detail }}</h3>
  {% for ingre in ingre_list %}
    <div class="form-group">
        <label>{{ ingre.name }}</label>
          <form action="" method="post">
            <input id="ingre_weight" min="0" placeholder="克数" style="width: 20%"/>&times;
            <input id="cal_data" value="{{ ingre.cal }}" style="width: 20%">卡/100克
            =<input id="cal_result" class="col-form-label col-form-label-sm" style="width: 20%" />卡
          </form>
    </div>
  {% endfor %}
  total = <input id="total" class="col-form-label col-form-label-sm" style="width: 20%" />卡


{% endblock%}
