{% extends 'AutoGener/base.html' %}


{% block main %}
<div class = "dishBlock">
  <form action="/ingredient/" method="post">
    <fieldset>
      <legend>添加食材</legend>
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputPassword1">食材:</label>
        {{ form.name }}
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">卡路里:</label>
        {{ form.cal }}卡/100g
        <small id="fileHelp" class="form-text text-muted">即刻查询：<a href="http://www.boohee.com/food/" target="_blank">卡路里查询</a></small>
        <small id="fileHelp" class="form-text text-muted">单位不标准？：在右侧计算</small>
      </div>

      <a class="btn btn-primary" target="_blank" href="{% url 'AutoGener:dish' %}" >前往添加新菜</a>
      <button type="submit" class="btn btn-primary">添加食材</button>
    </fieldset>
  </form>
</div>


<br>
<div id="alertBlock">
  {% if duplicate %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert" id="closeButton">&times;</button>
    <strong>{{ duplicate }}</strong>
  </div>
  {% endif %}
</div>

<br>
<br>

<div>
  <div>
  <h2>我能买到的食材</h2>
  <br>
  {% for ingre in ingredientlist %}
        <p> <a href="#">{{ ingre.name }}</a> {{ ingre.cal }}卡/100g
          <a class="close" href="{% url 'AutoGener:ingre_delete' ingre.name %}" >&times;</a>
        </p>
  {% empty %}
    <div><p>还没有食材哦！</p></div>
  {% endfor %}
    </div>
</div>


{% endblock %}





{% block side %}
  <div>
  <legend>简单计算</legend>
    <p>单位不规则？在下方输入数据
    <br>
    <input id="calo" class="col-form-label col-form-label-sm" placeholder="卡路里" />卡
    <br>
    <br>
    <input id="weight" class="col-form-label col-form-label-sm" placeholder="克数" />g
    <br>
    <br>
    <button class="btn btn-primary" id="calculate" >计算并填到左边</button>

  </div>
{% endblock %}
