{% extends 'AutoGener/base.html' %}

{% block main %}
<div class = "dishBlock">
<div class="btn-group-vertical" data-toggle="buttons">
    <form action="/schedule/" method="post">
            {% csrf_token %}
        <div class="form-group">
          <legend>需要几道不同的菜？</legend>
          <input type="text" class="form-control" name="numNeed">
        </div>
        <button type="submit" class="btn btn-primary">随机抽取</button>
    </form>
</div>
</div>

<br>

<div id="alertBlock">
  {% if message %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert" id="closeButton">&times;</button>
    <strong>{{ message }}</strong>
  </div>
  {% endif %}
</div>

<br>

<div class = "dishBlock">
  <div>
  <h2>安排下列菜品咯</h2>
  <br>
  {% for dish in random_dish %}
      <p> <a href="{% url 'AutoGener:dish_detail' dish.name %}">{{ dish.name }}</a></p>
  {% empty %}
      <div><p>还没有添加会做的菜哦哦！<a hred="{% url 'AutoGener:dish'%}">点击添加</a></p></div>
  </div>
  {% endfor %}
</div>

<div class = "dishBlock">
<div class="btn-group-vertical" data-toggle="buttons">
    <form action="/schedule/" method="post">
            {% csrf_token %}
         <button type="submit" class="btn btn-primary">安排上吧</button>
    </form>
</div>
</div>


{% endblock %}
