{% extends 'AutoGener/base.html' %}
{% load i18n %}

{% block left %}

{% for dish in random_dish %}
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">{{ dish.name }}
  </div>
  <div class="card-body">
    <p class="card-text">
          {% for ingre in dish.ingre.all %}
      <div class="form-group">
          <label>{{ ingre.name }} </label>
            <form action="" method="post">
              {% csrf_token %}
              <input id="{{ dish.name }}{{ forloop.counter }}_weight"  min="0" placeholder="克数" style="width: 18%"/>g&times;
              <input id="{{ dish.name }}{{ forloop.counter }}_data" value="{{ ingre.cal }}" style="width: 18%">cal/100g
              =<input class="{{ dish.name }}_cal_result" id="{{ dish.name }}{{ forloop.counter }}_each" style="width: 18%" disabled=""/>cal
            </form>
      </div>
   {% endfor %}
  <button id="{{ dish.name }}" onClick="reply_click(this.id)" class="btn btn-primary btn-sm">{% trans "计算" %}</button>
  total = <input id="{{ dish.name }}_cal" style="width: 18%" />cal

  </div>
</div>
{% endfor %}

{% endblock%}




{% block main %}

{% for type in types %}
<h5>{{ type.name }}:
    <a class="close" href="{% url 'AutoGener:type_delete' type.name %}">&times;</a></h5>
    {% for dish in type.cando_set.all %}
      {{ dish.name }}
    {% empty %}
      {% trans "没有菜品" %}
    {% endfor %}
{% endfor %}
<div class = "dishBlock">
<div class="btn-group-vertical" data-toggle="buttons">
    <form action="/schedule/" method="post">
            {% csrf_token %}
        <div class="form-group">
          <legend>需要几道不同的菜？</legend>
          <input type="text" class="form-control" name="numNeed" placeholder="需要道数">
          <legend>指定想吃食材</legend>
          <input type="text" class="form-control" name="wantEat" placeholder="已有/想吃食材，用逗号隔开">
        </div>
        <button type="submit" class="btn btn-primary">随机抽取</button>
    </form>
</div>
</div>

<br>

<div id="alertBlock">
  {% if message %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert" id="closeButton">&times;</button>
    <strong>{{ message }}</strong>
  </div>
  {% endif %}
</div>

<br>

<div class = "dishBlock">
  <div>
  <h2>安排下列菜品咯</h2>
  <br>
  {% for dish in random_dish %}
      <p> <a href="{% url 'AutoGener:dish_detail' dish.name %}">{{ dish.name }}</a></p>
  {% empty %}
      <div><p>还没有添加会做的菜哦哦！<a hred="{% url 'AutoGener:dish'%}">点击添加</a></p></div>
  </div>
  {% endfor %}
  {% if required_dish %}
  <p>包含输入的食材的菜:</p>
  {% for dish in required_dish %}
      <p> <a href="{% url 'AutoGener:dish_detail' dish.name %}">{{ dish.name }}</a></p>
  </div>
  {% endfor %}
  {% endif %}
</div>

<div class = "dishBlock">
<div class="btn-group-vertical" data-toggle="buttons">
    <form action="/schedule/" method="post">
            {% csrf_token %}
         <button type="submit" class="btn btn-primary">安排上吧</button>
    </form>
</div>
</div>


<div class = "tables">
  <table class="tg">
    <tr>
      <th class="tg-88nc"></th>
      <th class="tg-88nc">Mon</th>
      <th class="tg-88nc">Tue</th>
      <th class="tg-9hbo">Wed</th>
      <th class="tg-9hbo">Thu</th>
      <th class="tg-9hbo">Fri</th>
      <th class="tg-9hbo">Sal</th>
      <th class="tg-9hbo">Sun</th>
    </tr>
    <tr>
      <td class="tg-88nc">AM</td>
      <td class="tg-uys7 a1">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-uys7 a2">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l a3">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l a4">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l a5">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l a6">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l a7">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="tg-88nc">NOON</td>
      <td class="tg-uys7 n1">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-uys7 n2">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l n3">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l n4">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l n5">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l n6">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l n7">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <td class="tg-88nc">PM</td>
      <td class="tg-uys7 p1">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-uys7 p2">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l p3">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l p4">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l p5">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l p6">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
      <td class="tg-yw4l p7">
        <select name = "dishes">
          <option value = "default">default</option>
          {% for dish in random_dish %}
          <option value = "default">{{ dish.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
        <td class="tg-88nc">Today's Total Calories</td>
        <td class="tg-uys7 t1">
        </td>
        <td class="tg-uys7 t2">
        </td>
        <td class="tg-yw4l t3">
        </td>
        <td class="tg-yw4l t4">
        </td>
        <td class="tg-yw4l t5">
        </td>
        <td class="tg-yw4l t6">
        </td>
        <td class="tg-yw4l t7">
        </td>
      </tr>
  </table>
</div>
<div>
  <a href = "#" class = "btn btn-primary edit-block">Shopping List Generation</a>
</div>



{% endblock %}
