{% extends 'base.html' %}
{% load i18n %}
<!--背景不显示呜呜呜-->
{% block main %}
<div class="flex-center">
    <div class="container">
        <div>
            {% if user.is_authenticated %}
                 <h1>{{ user.username }}{% trans '已登录，欢迎你' %} </h1>
                 <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">{% trans '注销登录' %}</a></button>
                  <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">{% trans '修改密码' %}</a>
            {% else %}
                <p>{% trans '你还没有登录，请' %}
                    <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">{% trans '登录' %}</a></button>

                    <button class="btn btn-default"><a href="{% url 'users:register' %}">{% trans '注册' %}</a></button>

  </button>
                </p>

            {% endif %}
        </div>
    </div>
</div>


<div  class="jumbotron">
  <img>
  <h1 class="display-3">{% trans '一周饮食' %}<br>{% trans '尽在掌握' %}</h1>
  <p class="lead">{% trans '你好，更有规划的生活方式。' %}</p>
  <hr class="my-4">
  <p>{% trans '根据生成的购物清单，一次购置一周食材。清晰又节省。' %}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'AutoGener:ingredient' %}">{% trans '从添加我能买到的食材开始' %}</a>
  </p>
</div>

{% endblock %}
